<!--<div class="col-md-3 product-men">-->
<div class="men-pro-item simpleCart_shelfItem">
  <div class="men-thumb-item">
    <img src="/images/ph3.png" alt="" class="pro-image-front">
    <img src="/images/ph3.png" alt="" class="pro-image-back">
    <div class="men-cart-pro">
      <div class="inner-men-cart-pro">
        <a href="single.html" class="link-product-add-cart">Quick View</a>
      </div>
    </div>
    <span class="product-new-top">New</span>

  </div>
  <div class="item-info-product ">
    <h4><a href="single.html">Apple Iphone 6s</a></h4>
    <div class="info-product-price">
      <span class="item_price">$799.99</span>
      <del>$999.71</del>
    </div>
    <a href="#" class="item_add single-item hvr-outline-out button2">Add to cart</a>
  </div>
</div>
<!--</div>-->
