@import '/css/jquery-ui.css';

.categories-sidebar-container{
  height: 100%;
  width: 100%;
  position: fixed;
  top:0;
  left: 0;
  opacity: 1;
  background-color: #000;
  opacity: 0.5;
  z-index: 11;
}

.categories-sidebar-content{
  border: 1px solid #D2D2D2;
  /*padding-top: 30px;*/
  /*padding-bottom: 30px;*/
  padding:0;
  border-radius: 2px;
  position: fixed;
  top: 0;
  right: 0;
  transition: right 1s;
  /*overflow-y: scroll;*/
  height: 100%;
  background-color: #fff;
  z-index: 12;
  max-width:75%;
}

.nav_categories-sidebar{
  position: relative;
  height: 0px;
  width: 100%;
}

.nav_categories-sidebar>button{
  position: absolute;
  left: -41px;
  top: 120px;
  background-color: #f7f7f7;
  width: 40px;
  height: 40px;
  color: #FDA30E;
  border: 1px solid #ddd;
}



@media (max-width: 991px){
  .products-left {
    float: none;
    /*padding: 30px 15px;*/
    padding:0;
    width: auto;
  }

  .css-treeview{
    float: none;
    width: auto;
  }
}
