<!--
Category Sidebar <br/>

<ul>
    <li><a routerLink="../Men">Men</a></li>
    <li><a routerLink="../Women">Women</a></li>
    <li><a routerLink="../Kid">Kid</a></li>
</ul>

-->
<div class="container categories-sidebar-container" [style.display]="display ? 'block' : 'none'">

</div>

<div class="categories-sidebar-content  col-md-4 products-left" [style.right]="display ? '0px' : '-'+getSidebarWidth()+'px'">
  <div class="nav_categories-sidebar">
    <button class="glyphicon {{display?'glyphicon-chevron-right':'glyphicon-chevron-left'}} " (click)="switchCategoriesSidebar($event)"></button>
  </div>
  <div style="overflow-y: scroll;height: 100%;padding: 30px 15px;">
    <div class="filter-price">
      <h3>Filter By Price</h3>
      <ul class="dropdown-menu6">
        <li>
          <div id="slider-range"></div>
          <input type="text" id="amount" style="border: 0; color: #ffffff; font-weight: normal;" />
        </li>
      </ul>

    </div>
    <div class="css-treeview">
      <h4>Categories</h4>
      <ul class="tree-list-pad">
        <li><input type="checkbox" checked="checked" id="item-0" /><label for="item-0"><span></span>Men's Wear</label>
          <ul>
            <li><input type="checkbox" id="item-0-0" /><label for="item-0-0">Ethinic Wear</label>
              <ul>
                <li><a href="mens.html">Shirts</a></li>
                <li><a href="mens.html">Caps</a></li>
                <li><a href="mens.html">Shoes</a></li>
                <li><a href="mens.html">Pants</a></li>
                <li><a href="mens.html">SunGlasses</a></li>
                <li><a href="mens.html">Trousers</a></li>
              </ul>
            </li>
            <li><input type="checkbox"  id="item-0-1" /><label for="item-0-1">Party Wear</label>
              <ul>
                <li><a href="mens.html">Shirts</a></li>
                <li><a href="mens.html">Caps</a></li>
                <li><a href="mens.html">Shoes</a></li>
                <li><a href="mens.html">Pants</a></li>
                <li><a href="mens.html">SunGlasses</a></li>
                <li><a href="mens.html">Trousers</a></li>
              </ul>
            </li>
            <li><input type="checkbox"  id="item-0-2" /><label for="item-0-2">Casual Wear</label>
              <ul>
                <li><a href="mens.html">Shirts</a></li>
                <li><a href="mens.html">Caps</a></li>
                <li><a href="mens.html">Shoes</a></li>
                <li><a href="mens.html">Pants</a></li>
                <li><a href="mens.html">SunGlasses</a></li>
                <li><a href="mens.html">Trousers</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><input type="checkbox" id="item-1" checked="checked" /><label for="item-1">Best Collections</label>
          <ul>
            <li><input type="checkbox" checked="checked" id="item-1-0" /><label for="item-1-0">New Arrivals</label>
              <ul>
                <li><a href="mens.html">Shirts</a></li>
                <li><a href="mens.html">Shoes</a></li>
                <li><a href="mens.html">Pants</a></li>
                <li><a href="mens.html">SunGlasses</a></li>
              </ul>
            </li>

          </ul>
        </li>
        <li><input type="checkbox" checked="checked" id="item-2" /><label for="item-2">Best Offers</label>
          <ul>
            <li><input type="checkbox"  id="item-2-0" /><label for="item-2-0">Summer Discount Sales</label>
              <ul>
                <li><a href="mens.html">Shirts</a></li>
                <li><a href="mens.html">Shoes</a></li>
                <li><a href="mens.html">Pants</a></li>
                <li><a href="mens.html">SunGlasses</a></li>
              </ul>
            </li>
            <li><input type="checkbox" id="item-2-1" /><label for="item-2-1">Exciting Offers</label>
              <ul>
                <li><a href="mens.html">Shirts</a></li>
                <li><a href="mens.html">Shoes</a></li>
                <li><a href="mens.html">Pants</a></li>
                <li><a href="mens.html">SunGlasses</a></li>
              </ul>
            </li>
            <li><input type="checkbox" id="item-2-2" /><label for="item-2-2">Flat Discounts</label>
              <ul>
                <li><a href="mens.html">Shirts</a></li>
                <li><a href="mens.html">Shoes</a></li>
                <li><a href="mens.html">Pants</a></li>
                <li><a href="mens.html">SunGlasses</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
